html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(181, 216, 216);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before, *::after {
    box-sizing: inherit;
}

.header{
    background-color:#b5651d;
}

h1 {   
    text-align: center;
    font-style: bold;
    padding-top: 20px;
    text-decoration: none;
    margin-top: 0;
}

h1 a{
    text-decoration:none;
    color: white;
}
.content_nav{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.content_nav > div{
    background-color: inherit;
    padding:15px;
    color: white;
}

.content_nav > div a{
    color: white;
    text-decoration: none;
}

.main_grid{
    height: 80vh;
    display: grid;
    grid-template-rows: 0.8fr 0.2fr ;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-areas: 
    "image content"
    "footer footer";
}

.image{
    grid-area: image;
    margin-left: 50%;
    height: 100%;
    margin-top: 10px;

}

.image img{
    margin-top: 50%;
    width: 170%;
    border-radius: 5px;
}
.content{ 
    grid-area: content;
    padding: 60px;
    margin-right: 10%;
    margin-left: 10%;
    height: 100%;
}

.footer{
    grid-area:footer;
    background-color:#3e2723;
    color:white;
    text-align:center;

}

.footer a {
    text-decoration: none;
    font-style: italic;
}














