body {
    grid-template-areas: "header header header"
                         ". quiz ."
                         " footer footer footer";
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto 300px;
}
header {
    grid-area: header;
}

#quiz-container {
    /* width: 100%; */
    grid-area: quiz;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quiz-question-container{
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

button:hover{
    color: rgb(74, 105, 132);
}

footer {
    grid-area: footer;
}
