html {
    padding: 0px;
    background-color: rgb(181, 216, 216);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    /* TODO fixa helvetica NEU */
}

body,
div,
nav,
section {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto 150px 500px 150px auto;
    grid-template-rows: auto min-content max(min-content, 300px);
    grid-template-areas:
        "nav nav nav nav nav"
        ". ad main . ."
        "footer footer footer footer footer";

    margin: 0px;
    padding-top: 0px;
}

/* TOP menu style */
#top-menu {
    background-color: rgb(181, 216, 216);
    grid-area: nav;
    border: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#link-container {
    width: min-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#link-container a {
    width: auto;
    color: rgb(103, 143, 117);
    text-wrap: nowrap;
    text-decoration: none;
    text-align: center;
}

#link-container a:hover {
    color: white;
}

.quiz-button {
    text-wrap: none;
    width: fit-content;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(163, 183, 130);
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

a.quiz-button:hover {
    color: rgb(60, 77, 118);
    text-decoration: double;
}
/* END top menuy style */

#article-section {
    margin-left: 20px;
    margin-right: 20px;
    grid-area: main;
}

#references {
    margin-top: 10px;
    border-top: 1px solid gray;
}

#ad {
    margin-top: 50px;
    grid-area: ad;
}

#ad img {
    width: 150px;
}

#references {
    font-size: small;
    
}
#references li {
    margin: 5px;
    list-style: none;
}

#references h2{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
}

/* FOOTER STYLING GOES HERE  */
footer {
    background-color: rgb(181, 216, 216);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    grid-area: footer;
    margin-top: 50px;
}

footer div {
    padding: 25px;
    font-size: 0.8rem;
    color: rgb(59, 57, 72);
}

footer nav ul {
    margin-top: 0px;
}

blockquote {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(127, 137, 137);
    background-color: azure;
    font-size: small;
    font-style: italic;
    font-weight: 100;
}

img {
    width: 100%;
}

.float-image {
    float: right;
    width: 40%;
    margin: 0 0 15px 15px;
    border-radius: 4px;
}
