
/* Styling till index.html, page1.html, page2.html, page3.html och page4.html */


html {
    padding: 0px;
    background-color: rgb(181, 216, 216);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    /* Styling för alla sidor s */
}

body,
div,
nav,
section {
    box-sizing: border-box;
    /* Tar bort default padding som annars appliceras automatisk */
}

body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto 150px 500px 150px auto;
    grid-template-rows: auto min-content max(min-content, 300px);
    grid-template-areas:
        "nav nav nav nav nav"
        ". ad main . ."
        "footer footer footer footer footer";

    margin: 0px;
    padding-top: 0px;
    /* Lägger mall för hur sidans innehåll placeras. Navigation överst i sidan, text/innehåll i mitten och footer längst ner. Grid gör att sidan anpassar sig i olika skärm storlekar*/
}

/* TOP menu style */
#top-menu {
    background-color: rgb(181, 216, 216);
    grid-area: nav;
    border: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Lägger mall för hur menyns innehåll bör placeras. Använder flex för att sidor ska kunna anpassa sig i olika skärm storlekar. */
}

#link-container {
    width: min-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* Mall till undersidors länkar */
}

#link-container a {
    width: auto;
    color: rgb(103, 143, 117);
    text-wrap: nowrap;
    text-decoration: none;
    text-align: center;
    /* Styling till undersidors länkar, stylar texten */
}

#link-container a:hover {
    color: white;
    /* Ändrar färg till vitt när muspekaren är på undersidors länkar */
}

.quiz-button {
    text-wrap: none;
    width: fit-content;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(163, 183, 130);
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    /* Styling till quiz knappen */
}

a.quiz-button:hover {
    color: rgb(60, 77, 118);
    text-decoration: double;
    /* Quiz knappens text ändrar färg när muspekaren är på knappen */ 
}
/* END top menuy style */

/* Styling till mitten del av sidor där allt innehåll/text placeras */
#article-section {
    margin-left: 20px;
    margin-right: 20px;
    grid-area: main;
}

/* Styling till källförteckning sektionen */
#references {
    margin-top: 10px;
    border-top: 1px solid gray;
}

/* Styling till bilder */
#ad {
    margin-top: 50px;
    grid-area: ad;
    /* Mall för bilder */
}

#ad img {
    width: 150px;
}


#references {
    font-size: small;
    
}

#references li {
    margin: 5px;
    list-style: none;
    /* Styling till källförteckning lista */
}

#references h2{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    /* Styling till källförtecknings underrubrik */
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    /* Huvud rubrik */
}

h2 {
    font-size: 1.2rem;
}

/* FOOTER STYLING GOES HERE  */
footer {
    background-color: rgb(181, 216, 216);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    grid-area: footer;
    margin-top: 50px;
    /* Lägger mall till footer sektionen */
}

footer div {
    padding: 25px;
    font-size: 0.8rem;
    color: rgb(59, 57, 72); 
    /* Styling till footers sektionens cotainer */
}

footer nav ul {
    margin-top: 0px;
}

blockquote {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(127, 137, 137);
    background-color: azure;
    font-size: small;
    font-style: italic;
    font-weight: 100; 
     /* Styling till en liten ruta i index.html som innehåller hållbarhets definition */
}

img {
    width: 100%;
}

.float-image {
    float: right;
    width: 40%;
    margin: 0 0 15px 15px;
    border-radius: 4px; 
    /* Placerar bilder till vänster i sin egen container */
}
